<div>
    <!--
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Orc-B-Gone</h1>
                <h2 class="subtitle">But what about that Ancient Homongeous Plutonium Dragon?</h2>
            </div>
        </div>
    </section>  -->

    <!-- Field -->
    <div class="section">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="dungeon tile is-child box">

                    <div class = "container center">
                        <nav class="navbar">
                            <div class="navbar-left">
                                <p class="navbar-item">
                                 Active Player: {{gameCtrl.activePlayer.name}} Level: {{gameCtrl.activePlayer.level}}  Combat Power: {{gameCtrl.activePlayer.combatPower}}  {{gameCtrl.game.gameState.name}}
                                </p>
                            </div>
                            <div ng-class="navbar-right">
                                <p ng-show="gameCtrl.game.gameState.name == 'CombatState'" class="navbar-item">{{gameCtrl.game.gameState.playersPassed.length}} / {{gameCtrl.opponents.length}} Players Have Passed.
                                </p>
                            </div>
                        </nav>
                    </div>

                    <br>

                    <!--<p class="title">Dungeon</p>-->
                    <div class="columns">

                    <!--
                        <div class="column is-2">
                            <div class="box has-text-centered">
                                <p class="title">{{gameCtrl.game.gameState.name}}</p>
                                <p>Active Player: {{gameCtrl.activePlayer.name}}</p>
                            </div>
                        </div>

                    -->

                        <!-- Start State Info -->
                        <div class="column" ng-show="gameCtrl.game.gameState.name =='StartState'">
                            <h2 class="game-state-header">
                                Waiting for {{gameCtrl.activePlayer.name}} to continue...
                            </h2>
                        </div>
                        <!-- End Start State Info -->
<!--start contatiner-->
<div class="container center">
                        <!-- Draw State Info -->
                        <div class="column" ng-show="gameCtrl.game.gameState.name =='DrawState'">
                            <h2 class="game-state-header">
                                <span ng-show="gameCtrl.game.gameState.card.type == 'Curse'">{{gameCtrl.activePlayer.name}} was cursed!</span>
                                <span ng-show="gameCtrl.game.gameState.card.type != 'Curse'">{{gameCtrl.activePlayer.name}} drew this card:</span>
                            </h2>
                            <div class="card is-inline-block">
                                <header class="card-header">
                                    <p class="card-header-title">{{gameCtrl.game.gameState.card.name}}</p>
                                </header>
                                <div class="card-content">
                                    <div class="card-image">
                                        <figure class="image is-square">
                                            <img ng-src="images/cards/{{gameCtrl.game.gameState.card.pictureUrl}}" alt="card image">
                                        </figure>
                                    </div>
                                    <div class="content">
                                            <p>{{gameCtrl.game.gameState.card.description}}</p>
                                            <p>{{gameCtrl.game.gameState.card.flavorText}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Draw State Info -->

                        <!-- Combat State Info -->
                        <div class="column" ng-show="gameCtrl.game.gameState.name =='CombatState'">
                            <div class="box combat-bonus has-text-centered is-inline-block">
                                <p class="title is-4">Player Combat Bonus</p>
                                <p class="title is-2">{{gameCtrl.game.gameState.playerCombatBonus >= 0 ? "+" : ""}}{{gameCtrl.game.gameState.playerCombatBonus}}</p>
                            </div>

<!--
                            <div class="card player-card is-inline-block">
                                <header class="card-header">
                                    <p class="card-header-title">{{gameCtrl.activePlayer.name}}</p>
                                </header>
                                <div class="card-content">
                                    <p>CP: {{gameCtrl.activePlayer.combatPower}}</p>
                                    <div class="card-image">

                                    </div>
                                    <div class="content">
                                        <p class="is-small">Level: {{gameCtrl.activePlayer.level}}</p>
                                    </div>
                                </div>
                            </div>
-->

                            <div class="card monster-card is-inline-block" ng-repeat="monster in gameCtrl.game.gameState.monsters">
                                <header class="card-header">
                                    <p class="card-header-title">{{monster.name}}</p>
                                </header>
                                <div class="card-content">
                                    <p>Level: {{monster.level}}</p>
                                    <div class="card-image">
                                        <figure class="image is-square">
                                            <img ng-src="images/cards/{{monster.pictureUrl}}" alt="card image">
                                        </figure>
                                    </div>
                                    <div class="content">
                                        <p>{{monster.description}}</p>
                                        <p>{{monster.flavorText}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="box monster-bonus has-text-centered">
                                <p class="title is-4">Monster Combat Bonus</p>
                                <p class="title is-2">{{gameCtrl.game.gameState.monsterCombatBonus >= 0 ? "+" : ""}}{{gameCtrl.game.gameState.monsterCombatBonus}}</p>
                            </div>
                        </div>
                        <!-- End Combat State Info -->

                        <!-- End State Info -->
                        <div class="column" ng-show="gameCtrl.game.gameState.name =='EndState'">
                            <h2 class="game-state-header">
                                <span ng-show="gameCtrl.game.gameState.combatResults">{{gameCtrl.game.gameState.combatResults}}</span>
                                <span ng-show="!gameCtrl.game.gameState.combatResults">{{gameCtrl.activePlayer.name}} drew a card.</span>
                            </h2>
                            <div ng-show="gameCtrl.game.gameState.numCards">
                                <div class="card card-back is-inline-block" ng-repeat="i in gameCtrl.getArray(gameCtrl.game.gameState.numCards) track by $index">
                                    <header class="card-header">
                                    </header>
                                    <div class="card-content">
                                        <p>PLACEHOLDER FACE DOWN CARD</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End End State Info -->
</div>
                    </div>
                </div>
            </div>
            <div class="tile is-2 is-vertical is-parent">
                <div class="tile is-child box">
                    <p class="title">Opponents</p>
                </div>
                <div class="tile is-child box" ng-repeat="opponent in gameCtrl.opponents">
                    <p class="title">{{opponent.name}}</p>
                    <p class="title">Level: {{opponent.level}}</p>
                    <p>CP: {{opponent.combatPower}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Player Stats & Actions -->
    <div class="columns stats-columns">
        <div class="column is-2 stats-column">
            <div class="box stats-box">
                <p class="title">Level: {{gameCtrl.player.level}}</p>
                <p>CP: {{gameCtrl.player.combatPower}}</p>
            </div>
        </div>
        <div class="column action-box">
            <div class="has-text-centered">
                <!-- Action buttons -->
                <!-- Active Player buttons -->
                <span ng-show="gameCtrl.game.activePlayer == gameCtrl.player.name">
                    <button class="button action-button is-danger is-large" ng-show="gameCtrl.game.gameState.name == 'DrawState'" ng-click="gameCtrl.fight()">
                        Look for Trouble
                        <span class = "icon">
                            <i class="fa fa-hand-rock-o" aria-hidden="true"></i>
                        </span>
                    </button>
                    <!-- Proceed button -->
                    <button class="button action-button is-primary is-large"
                            ng-show="gameCtrl.game.gameState.name != 'CombatState'"
                            ng-disabled="gameCtrl.game.gameState.name == 'EndState' && gameCtrl.player.hand.length > 5"
                            ng-click="gameCtrl.proceed()">
                        <span ng-show="gameCtrl.game.gameState.name == 'StartState'">
                            Knock on Door
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </span>
                        <span ng-show="gameCtrl.game.gameState.name == 'DrawState'">
                            Loot the Room
                            <i class="fa fa-key fa-fw" aria-hidden="true"></i>
                        </span>
                        <span ng-show="gameCtrl.game.gameState.name == 'EndState'">
                            End Turn
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        </span>
                    </button>
                    <button ng-class="['button', 'action-button', 'is-primary', 'is-large']" ng-show="gameCtrl.game.gameState.name == 'CombatState'" ng-click="gameCtrl.proceed()">
                        Fight!
                        <span class = "icon">
                            <i class="fa fa-hand-rock-o" aria-hidden="true"></i>
                        </span>
                    </button>
                    <button class="button action-button is-danger is-large" ng-show="gameCtrl.game.gameState.name == 'CombatState'" ng-click="gameCtrl.run()">
                        Run Away
                        <span class = "icon">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </span>
                    </button>
                </span>
                <button ng-class="['button', 'action-button', 'is-primary', 'is-large', {'is-disabled': gameCtrl.game.gameState.playersPassed.indexOf(gameCtrl.player.name) != -1}]" ng-show="gameCtrl.game.activePlayer != gameCtrl.player.name && gameCtrl.game.gameState.name == 'CombatState'" ng-click="gameCtrl.pass()">
                    Pass
                    <span class = "icon">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>

    <!-- Player Hand -->
    <div class="section">
        <div class="box">
            <p class="title">Hand</p>
            <div class="container">
                <div class="derp card is-inline-block" ng-repeat="card in gameCtrl.player.hand">
                    <header class="card-header">
                        <p class="card-header-title">{{card.name}}</p>
                    </header>
                    <div class="card-content">
                            <p ng-if="card.type == 'Equipment'">Bonus: {{card.bonus}}</p>
                        <div class="card-image">
                            <figure class="image is-square">
                                <img ng-src="images/cards/{{card.pictureUrl}}" alt="card image">
                            </figure>
                        </div>
                        <div class="content">
                                <p>{{card.description}}</p>
                                <p>{{card.flavorText}}</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <!-- Play button depending on type -->
                        <a ng-if="card.type == 'Spell'" class="card-footer-item" ng-click="gameCtrl.playCard(card)">Play</a>
                        <a ng-if="card.type == 'Equipment'" ng-class="['card-footer-item', {'is-disabled': gameCtrl.game.gameState.name == 'CombatState'}]" ng-click="gameCtrl.playCard(card)">Equip</a>
                        <a ng-if="card.type == 'CombatSpell'" ng-class="['card-footer-item', {'is-disabled': gameCtrl.game.gameState.name != 'CombatState'}]" ng-click="gameCtrl.playCard(card)">Play</a>
                        <a ng-if="card.type == 'Curse'" class="card-footer-item" ng-click="gameCtrl.playCard(card)">Play</a>
                        <!-- End play buttons -->

                        <a class="card-footer-item" ng-click="gameCtrl.discard(card)">Discard</a>
                    </footer>
                </div>
            </div>
        </div>

        <!-- Equipment -->
        <div class="box">
            <p class="title">Equipment</p>
            <div class="container">
                <!-- Head Equip -->
                <div class="card is-inline-block" ng-show="gameCtrl.player.equippedCards.headgear">
                    <header class="card-header">
                        <p class="card-header-title">{{gameCtrl.player.equippedCards.headgear.name}}</p>
                    </header>
                    <div class="card-content">
                        <p>Bonus: {{gameCtrl.player.equippedCards.headgear.bonus}}</p>
                        <div class="card-image">
                            <figure class="image is-square">
                                <img ng-src="images/cards/{{gameCtrl.player.equippedCards.headgear.pictureUrl}}" alt="card image">
                            </figure>
                        </div>
                        <div class="content">
                                <p>{{gameCtrl.player.equippedCards.headgear.description}}</p>
                                <p>{{gameCtrl.player.equippedCards.headgear.flavorText}}</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item" ng-click="gameCtrl.discard(gameCtrl.player.equippedCards.headgear)">Discard</a>
                    </footer>
                </div>
                <!-- Weapons Equip -->
                <div class="card is-inline-block" ng-show="gameCtrl.player.equippedCards.weapons" ng-repeat="weapon in gameCtrl.player.equippedCards.weapons">
                    <header class="card-header">
                        <p class="card-header-title">{{weapon.name}}</p>
                    </header>
                    <div class="card-content">
                        <p>Bonus: {{weapon.bonus}}</p>
                        <div class="card-image">
                            <figure class="image is-square">
                                <img ng-src="images/cards/{{weapon.pictureUrl}}" alt="card image">
                            </figure>
                        </div>
                        <div class="content">
                                <p>{{weapon.description}}</p>
                                <p>{{weapon.flavorText}}</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item" ng-click="gameCtrl.discard(weapon)">Discard</a>
                    </footer>
                </div>
                <!-- Body Equip -->
                <div class="card is-inline-block" ng-show="gameCtrl.player.equippedCards.armor">
                    <header class="card-header">
                        <p class="card-header-title">{{gameCtrl.player.equippedCards.armor.name}}</p>
                    </header>
                    <div class="card-content">
                        <p>Bonus: {{gameCtrl.player.equippedCards.armor.bonus}}</p>
                        <div class="card-image">
                            <figure class="image is-square">
                                <img ng-src="images/cards/{{gameCtrl.player.equippedCards.armor.pictureUrl}}" alt="card image""">
                            </figure>
                        </div>
                        <div class="content">
                                <p>{{gameCtrl.player.equippedCards.armor.description}}</p>
                                <p>{{gameCtrl.player.equippedCards.armor.flavorText}}</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item" ng-click="gameCtrl.discard(gameCtrl.player.equippedCards.armor)">Discard</a>
                    </footer>
                </div>
                <!-- Foot Equip -->
                <div class="card is-inline-block" ng-show="gameCtrl.player.equippedCards.footgear">
                    <header class="card-header">
                        <p class="card-header-title">{{gameCtrl.player.equippedCards.footgear.name}}</p>
                    </header>
                    <div class="card-content">
                        <p>Bonus: {{gameCtrl.player.equippedCards.footgear.bonus}}</p>
                        <div class="card-image">
                            <figure class="image is-square">
                                <img ng-src="images/cards/{{gameCtrl.player.equippedCards.footgear.pictureUrl}}" alt="card image">
                            </figure>
                        </div>
                        <div class="content">
                                <p>{{gameCtrl.player.equippedCards.footgear.description}}</p>
                                <p>{{gameCtrl.player.equippedCards.footgear.flavorText}}</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item" ng-click="gameCtrl.discard(gameCtrl.player.equippedCards.footgear)">Discard</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
