<div>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Orc-B-Gone</h1>
                <h2 class="subtitle">But what about that Ancient Homongeous Plutonium Dragon?</h2>
            </div>
        </div>
    </section>

    <!-- Field -->
    <div class="section">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <p class="title">Dungeon</p>
                    <div class="columns">

                        <!-- TEMPORARY DISPLAY FOR GAME STATE INFO -->
                        <div class="column is-3">
                            <div class="box has-text-centered">
                                <p class="title">{{gameCtrl.game.gameState}}</p>
                                <p>Active Player: {{gameCtrl.game.activePlayer}}</p>
                            </div>
                        </div>

                        <div class="column is-3">
                            <div class="box has-text-centered">
                                <p class="title is-4">{{gameCtrl.game.activePlayer}}</p>
                                <p class="title">CP: OVER 9000!!!</p>
                            </div>
                        </div>

                        <div class="column is-3" ng-repeat="monster in gameCtrl.game.combatState.monsters">
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title">{{monster.name}}</p>
                                </header>
                                <div class="card-content">
                                    <div class="card-image">
                                        <figure class="image is-square">
                                            <img src="http://placehold.it/256x256" alt="">
                                        </figure>
                                    </div>
                                    <div class="content">
                                        <small>
                                            <p>{{monster.description}}</p>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile is-2 is-vertical is-parent">
                <div class="tile is-child box">
                    <p class="title">Opponents</p>
                </div>
                <div class="tile is-child box" ng-repeat="opponent in gameCtrl.opponents">
                    <p class="title">{{opponent.name}}</p>
                    <p class="title">Level: {{opponent.level}}</p>
                    <p>CP: {{opponent.combatPower}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Player Info, Hand & Actions -->
    <div class="section">
        <div class="box">
            <p class="title">Hand</p>
            <div class="columns">
                <div class="column is-10">
                    <div class="columns is-multiline">
                        <div class="column is-3" ng-repeat="card in gameCtrl.player.hand">
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title">{{card.name}}</p>
                                </header>
                                <div class="card-content">
                                    <div class="card-image">
                                        <figure class="image is-square">
                                            <img src="http://placehold.it/256x256" alt="">
                                        </figure>
                                    </div>
                                    <div class="content">
                                        <small>
                                            <p>{{card.description}}</p>
                                        </small>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a class="card-footer-item" ng-click="gameCtrl.playCard(gameCtrl.player, card)">Play</a>
                                    <a class="card-footer-item">Sell</a>
                                    <a class="card-footer-item" ng-click="gameCtrl.discard(card)">Discard</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="column"></div> -->
                <div class="column is-2">
                    <div class="box">
                        <p class="title">Stats</p>
                        <p class="title">Level: {{gameCtrl.player.level}}</p>
                        <p>CP: {{gameCtrl.player.combatPower}}</p>
                    </div>
                    <div class="box">
                        <table>
                            <tr>
                                <td class="has-text-centered">
                                    <p class="title">Actions<p></td>
                                    </tr>
                                    <tr>
                                        <td class="has-text-centered">
                                            <button class="button is-primary" ng-click="gameCtrl.proceed()">Ready</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="has-text-centered">
                                            <button class="button is-danger" ng-click="gameCtrl.run()">Run Away</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Equips -->
            <div class="section">
                <div class="box">
                    <p class="title">Equipment</p>
                    <div class="container">
                        <div class="columns">
                            <!-- Head Equip -->
                            <div class="column">
                                <div class="card">
                                    <header class="card-header">
                                        <p class="card-header-title">Helmet of Justice</p>
                                    </header>
                                    <div class="card-content">
                                        <div class="card-image">
                                            <figure class="image is-square">
                                                <img src="http://placehold.it/256x256" alt="">
                                            </figure>
                                        </div>
                                        <div class="content">
                                            <small>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>
                                            </small>
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <a class="card-footer-item">Sell</a>
                                        <a class="card-footer-item">Discard</a>
                                    </footer>
                                </div>
                            </div>

                            <!-- Hand Equip -->
                            <div class="column">
                                <div class="card">
                                    <header class="card-header">
                                        <p class="card-header-title">Mace of Justice</p>
                                    </header>
                                    <div class="card-content">
                                        <div class="card-image">
                                            <figure class="image is-square">
                                                <img src="http://placehold.it/256x256" alt="">
                                            </figure>
                                        </div>
                                        <div class="content">
                                            <small>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>
                                            </small>
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <a class="card-footer-item">Sell</a>
                                        <a class="card-footer-item">Discard</a>
                                    </footer>
                                </div>
                            </div>
                            <!-- Hand Equip -->
                            <div class="column">
                                <div class="card">
                                    <header class="card-header">
                                        <p class="card-header-title">Bigger Bad Asser Sword</p>
                                    </header>
                                    <div class="card-content">
                                        <div class="card-image">
                                            <figure class="image is-square">
                                                <img src="http://placehold.it/256x256" alt="">
                                            </figure>
                                        </div>
                                        <div class="content">
                                            <small>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>
                                            </small>
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <a class="card-footer-item">Sell</a>
                                        <a class="card-footer-item">Discard</a>
                                    </footer>
                                </div>
                            </div>
                            <!-- Body Equip -->
                            <div class="column">
                                <div class="card">
                                    <header class="card-header">
                                        <p class="card-header-title">Dragon Proof Armor</p>
                                    </header>
                                    <div class="card-content">
                                        <div class="card-image">
                                            <figure class="image is-square">
                                                <img src="http://placehold.it/256x256" alt="">
                                            </figure>
                                        </div>
                                        <div class="content">
                                            <small>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>
                                            </small>
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <a class="card-footer-item">Sell</a>
                                        <a class="card-footer-item">Discard</a>
                                    </footer>
                                </div>
                            </div>
                            <!-- Foot Equip -->
                            <div class="column">
                                <div class="card">
                                    <header class="card-header">
                                        <p class="card-header-title">Shoes of Black Silk</p>
                                    </header>
                                    <div class="card-content">
                                        <div class="card-image">
                                            <figure class="image is-square">
                                                <img src="http://placehold.it/256x256" alt="">
                                            </figure>
                                        </div>
                                        <div class="content">
                                            <small>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>
                                            </small>
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <a class="card-footer-item">Sell</a>
                                        <a class="card-footer-item">Discard</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
