<div class = "windowback">
    <!--
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Orc-B-Gone</h1>
                <h2 class="subtitle">But what about that Ancient Homongeous Plutonium Dragon?</h2>
            </div>
        </div>
    </section>  -->

    <!-- Field -->
    <div class="section">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="dungeon tile is-child box">
                    <!--<p class="title">Dungeon</p>-->
                    <div class="columns">
                        <div class="column is-2">
                            <div class="box has-text-centered">
                                <p class="title">{{gameCtrl.game.gameState}}</p>
                                <p>Active Player: {{gameCtrl.activePlayer.name}}</p>
                            </div>
                        </div>

                        <!-- Combat State Info -->
                        <!-- ng-show="gameCtrl.game.gameState =='CombatState'" -->
                        <div class="column is-9" ng-show="gameCtrl.game.gameState =='CombatState'">
                            <div class="box combat-bonus has-text-centered is-inline-block">
                                <p class="title is-4">Player Combat Bonus</p>
                                <p class="title is-2">{{gameCtrl.game.combatState.playerCombatBonus >= 0 ? "+" : ""}}{{gameCtrl.game.combatState.playerCombatBonus}}</p>
                            </div>

                            <div class="card player-card is-inline-block">
                                <header class="card-header">
                                    <p class="card-header-title">{{gameCtrl.activePlayer.name}}</p>
                                </header>
                                <div class="card-content">
                                    <p>CP: {{gameCtrl.activePlayer.combatPower}}</p>
                                    <div class="card-image">

                                    </div>
                                    <div class="content">
                                        <p class="is-small">Level: {{gameCtrl.activePlayer.level}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card monster-card is-inline-block" ng-repeat="monster in gameCtrl.game.combatState.monsters">
                                <header class="card-header">
                                    <p class="card-header-title">{{monster.name}}</p>
                                </header>
                                <div class="card-content">
                                    <p>Level: {{monster.level}}</p>
                                    <div class="card-image">
                                        <figure class="image is-square">
                                            <img src="http://placehold.it/256x256" alt="">
                                        </figure>
                                    </div>
                                    <div class="content">
                                        <small>
                                            <p>{{monster.description}}</p>
                                            <p>{{monster.flavorText}}</p>
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="box combat-bonus has-text-centered">
                                <p class="title is-4">Monster Combat Bonus</p>
                                <p class="title is-2">{{gameCtrl.game.combatState.monsterCombatBonus >= 0 ? "+" : ""}}{{gameCtrl.game.combatState.monsterCombatBonus}}</p>
                            </div>
                        </div>
                        <!-- End Combat State Info -->
                    </div>
                </div>
            </div>
            <div class="tile is-2 is-vertical is-parent">
                <div class="tile is-child box">
                    <p class="title">Opponents</p>
                </div>
                <div class="tile is-child box" ng-repeat="opponent in gameCtrl.opponents">
                    <p class="title">{{opponent.name}}</p>
                    <p class="title">Level: {{opponent.level}}</p>
                    <p>CP: {{opponent.combatPower}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Player Stats & Actions -->
    <div class="columns stats-columns">
        <div class="column is-2 stats-column">
            <div class="box stats-box">
                <p class="title">Level: {{gameCtrl.player.level}}</p>
                <p>CP: {{gameCtrl.player.combatPower}}</p>
            </div>
        </div>
        <div class="column action-box">
            <div class="has-text-centered">
                <!-- Action buttons -->
                <!-- Active Player buttons -->
                <span ng-show="gameCtrl.game.activePlayer == gameCtrl.player.name">
                    <button class="button action-button is-danger is-large" ng-show="gameCtrl.game.gameState == 'DrawState'" ng-click="gameCtrl.fight()">
                        Look for Trouble
                        <span class = "icon">
                            <i class="fa fa-hand-rock-o" aria-hidden="true"></i>
                        </span>
                    </button>
                    <!-- Proceed button -->
                    <button class="button action-button is-primary is-large"
                            ng-show="gameCtrl.game.gameState != 'CombatState'"
                            ng-disabled="gameCtrl.game.gameState == 'EndState' && gameCtrl.player.hand.length > 5"
                            ng-click="gameCtrl.proceed()">
                        <span ng-show="gameCtrl.game.gameState == 'StartState'">
                            Knock on Door
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </span>
                        <span ng-show="gameCtrl.game.gameState == 'DrawState'">
                            Loot the Room
                            <i class="fa fa-key fa-fw" aria-hidden="true"></i>
                        </span>
                        <span ng-show="gameCtrl.game.gameState == 'EndState'">
                            End Turn
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        </span>
                    </button>
                    <button ng-class="['button', 'action-button', 'is-primary', 'is-large', {'is-disabled': !gameCtrl.game.combatState.canPlayerWin}]" ng-show="gameCtrl.game.gameState == 'CombatState'" ng-click="gameCtrl.proceed()">    
                        Fight!
                        <span class = "icon">
                            <i class="fa fa-hand-rock-o" aria-hidden="true"></i>
                        </span>
                    </button>
                    <button class="button action-button is-danger is-large" ng-show="gameCtrl.game.gameState == 'CombatState'" ng-click="gameCtrl.run()">
                        Run Away
                        <span class = "icon">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </span>
                    </button>
                </span>
                <button ng-class="['button', 'action-button', 'is-primary', 'is-large', {'is-disabled': gameCtrl.game.combatState.playersPassed.indexOf(gameCtrl.player.name) != -1}]" ng-show="gameCtrl.game.activePlayer != gameCtrl.player.name && gameCtrl.game.gameState == 'CombatState'" ng-click="gameCtrl.pass()">
                    Pass
                    <span class = "icon">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>

    <!-- Player Hand -->
    <div class="section">
        <div class="box">
            <p class="title">Hand</p>
            <div class="container">
                <div class="derp card is-inline-block" ng-repeat="card in gameCtrl.player.hand">
                    <header class="card-header">
                        <p class="card-header-title">{{card.name}}</p>
                    </header>
                    <div class="card-content">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img src="http://placehold.it/256x256" alt="">
                            </figure>
                        </div>
                        <div class="content">
                            <small>
                                <p>{{card.description}}</p>
                            </small>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <!-- Play button depending on type -->
                        <a ng-if="card.type == 'Spell'" class="card-footer-item" ng-click="gameCtrl.playCard(gameCtrl.player.name, card)">Play</a>
                        <a ng-if="card.type == 'Equipment'" ng-class="['card-footer-item', {'is-disabled': gameCtrl.game.gameState == 'CombatState'}]" ng-click="gameCtrl.playCard(gameCtrl.player.name, card)">Equip</a>
                        <a ng-if="card.type == 'CombatSpell'" ng-class="['card-footer-item', {'is-disabled': gameCtrl.game.gameState != 'CombatState'}]" ng-click="gameCtrl.playCard(gameCtrl.player.name, card)">Play</a>
                        <div ng-if="card.type == 'Curse'">
                            <a class="card-footer-item" ng-click="isModalActive = true">Play</a>
                            <!-- Modal to choose target for cast card -->
                            <div ng-show="isModalActive" class="modal is-active">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Choose Target</p>
                                    </header>
                                    <form name="spellTarget" ng-submit="spellTarget.$valid && gameCtrl.submitTarget(target, card)">
                                        <section class="modal-card-body">
                                            <p class="control">
                                                <span class="select">
                                                    <select ng-model="target" required>
                                                        <option value="{{gameCtrl.player.name}}">Self</option>
                                                        <option ng-repeat="opponent in gameCtrl.opponents" value="{{opponent.name}}">{{opponent.name}}</option>
                                                    </select>
                                                </span>
                                            </p>
                                        </section>
                                        <footer class="modal-card-foot">
                                            <input class="button is-primary" type="submit" value="Cast!" />
                                            <a class="button" ng-click="isModalActive = false">Cancel</a>
                                        </footer>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- End play buttons -->

                        <a class="card-footer-item">Sell</a>
                        <a class="card-footer-item" ng-click="gameCtrl.discard(card)">Discard</a>
                    </footer>
                </div>
            </div>
        </div>

        <!-- Equipment -->
        <div class="box">
            <p class="title">Equipment</p>
            <div class="container">
                <!-- Head Equip -->
                <div class="card is-inline-block" ng-show="gameCtrl.player.equippedCards.headgear">
                    <header class="card-header">
                        <p class="card-header-title">{{gameCtrl.player.equippedCards.headgear.name}}</p>
                    </header>
                    <div class="card-content">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img src="http://placehold.it/256x256" alt="">
                            </figure>
                        </div>
                        <div class="content">
                            <small>
                                <p>{{gameCtrl.player.equippedCards.headgear.description}}</p>
                                <p>{{gameCtrl.player.equippedCards.headgear.flavorText}}</p>
                            </small>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item">Sell</a>
                        <a class="card-footer-item">Discard</a>
                    </footer>
                </div>
                <!-- Weapons Equip -->
                <div class="card is-inline-block" ng-show="gameCtrl.player.equippedCards.weapons" ng-repeat="weapon in gameCtrl.player.equippedCards.weapons">
                    <header class="card-header">
                        <p class="card-header-title">{{weapon.name}}</p>
                    </header>
                    <div class="card-content">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img src="http://placehold.it/256x256" alt="">
                            </figure>
                        </div>
                        <div class="content">
                            <small>
                                <p>{{weapon.description}}</p>
                                <p>{{weapon.flavorText}}</p>
                            </small>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item">Sell</a>
                        <a class="card-footer-item">Discard</a>
                    </footer>
                </div>
                <!-- Body Equip -->
                <div class="card is-inline-block" ng-show="gameCtrl.player.equippedCards.armor">
                    <header class="card-header">
                        <p class="card-header-title">{{gameCtrl.player.equippedCards.armor.name}}</p>
                    </header>
                    <div class="card-content">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img src="http://placehold.it/256x256" alt="">
                            </figure>
                        </div>
                        <div class="content">
                            <small>
                                <p>{{gameCtrl.player.equippedCards.armor.description}}</p>
                                <p>{{gameCtrl.player.equippedCards.armor.flavorText}}</p>
                            </small>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item">Sell</a>
                        <a class="card-footer-item">Discard</a>
                    </footer>
                </div>
                <!-- Foot Equip -->
                <div class="card is-inline-block" ng-show="gameCtrl.player.equippedCards.footgear">
                    <header class="card-header">
                        <p class="card-header-title">{{gameCtrl.player.equippedCards.footgear.name}}</p>
                    </header>
                    <div class="card-content">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img src="http://placehold.it/256x256" alt="">
                            </figure>
                        </div>
                        <div class="content">
                            <small>
                                <p>{{gameCtrl.player.equippedCards.footgear.description}}</p>
                                <p>{{gameCtrl.player.equippedCards.footgear.flavorText}}</p>
                            </small>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item">Sell</a>
                        <a class="card-footer-item">Discard</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
