.secondary-text {
    font-style: italic;
    opacity: 0.6;
}

.section {
    padding: 20px;
}

.combat-bonus {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-top: 75px;
}

.player-card, .monster-card {
    vertical-align: top;
}

.player-card {
    margin-right: 30px;
}

.monster-card .card-content {
    height: 300px;
}

.active-player-box {
    padding-bottom: 24px;
}

.stats-columns {
    background-color: white;
    margin-bottom: 0 !important;
    padding-left: 20px;
}

.stats-column {
    background-color: white;
    margin-bottom: 0 !important;
    /*overrides bottom margin space*/
}

.stats-box {
    padding-bottom: 40px;
}

.action-box {
    padding: 25px;
}

.action-button {
    padding-top: 40px;
    padding-bottom: 60px;
    width: 400px;
}

.card {
    width: 240px;
    margin: 10px;
    background-image: url(http://img.wallpaperfolder.com/f/4EF12A0DE009/parchment-paper-texture-picture-free.jpg);
    border-style: solid;
    border-color: brown;
    border-width: 3px;
    border-radius: 3%;
}

.card-header {
    height: 60px;
    border: hidden;
    box-shadow: none;
}

.card-content {
    height: 280px;
    background-color:;
    border: hidden;
}

.derp {
    zoom: 75%;
    transition: transform .4s;
}

.derp:hover {
    z-index: +1;
    position: all;
    transform: scale(1.5);
}

.dungeon {
    min-height: 474px;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-image: url(https://i.ytimg.com/vi/AcMrUocW_Hk/maxresdefault.jpg);
}


/*    Toasts    */

#toast-container .toast {
    opacity: 1;
    padding: 15px;
    text-align: center;
}

.toast-card-message .card {
    margin: 0 auto;
}
