<div class="{{toastClass}} {{toastType}}" ng-click="tapToast()">
    <div ng-switch on="allowHtml">
        <div ng-switch-default ng-if="title" class="{{titleClass}}" aria-label="{{title}}">{{title}}</div>
        <div ng-switch-default class="{{messageClass}}">
            <p>{{message.playerName}} played</p>
            <div class="card is-block">
                <header class="card-header">
                    <p class="card-header-title">{{message.card.name}}</p>
                </header>
                <div class="card-content">
                    <p ng-if= "message.card.type == 'Equipment'">Bonus: {{message.card.bonus}}</p>
                    <div class="card-image">
                        <figure class="image is-square">
                            <img ng-src="images/cards/{{message.card.pictureUrl}}" alt="card image">
                        </figure>
                    </div>
                    <div class="content">
                        <p>{{message.card.description}}</p>
                        <p>{{message.card.flavorText}}</p>
                    </div>
                </div>
            </div>
            <p ng-if="message.targetName">targeting {{message.targetName}}!</p>
        </div>
        <div ng-switch-when="true" ng-if="title" class="{{titleClass}}" ng-bind-html="title"></div>
        <div ng-switch-when="true" class="{{messageClass}}" ng-bind-html="message">
        </div>
    </div>
    <progress-bar ng-if="progressBar"></progress-bar>
</div>
